{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1></h1>

    {{ form_start(RegistrationFormType) }}
    
    {{ form_end(RegistrationFormType) }}
<button type="submit" class="btn">Enregistrer</button>
{% endblock %}
